top2vec==1.0.27
beautifulsoup4==4.11.1
pandas==1.2.4
numpy==1.22.0
numba==0.53.*
hdbscan==0.8.28
umap==0.1.1
umap_learn==0.5.1
selenium==4.1.3
bertopic==0.10.0
nltk==3.7.0
sentence-transformers==2.2.0
azure-storage-blob==12.12.0